@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    font-family: "Poppins";
}

nav {
    background-color: black;
    display: flex;
    padding-inline: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .left-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .left-nav img {
    height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav a:hover {
    color: #eb374e;
}

nav .right-nav a {
    background-color: #eb374e;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

nav .right-nav a:hover {
    background-color: #d12038;
    color: white;
}

nav .right-nav .icon {
    display: none;
}

.form-container {
    background-color: #dedede;
    width: 400px;
    border-radius: 12px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 15px gray;
    margin-bottom: 40px;
}

.image img {
    margin-top: 40px;
    height: 100px;
    margin-bottom: 40px;
}

.form-container input {
    width: 90%;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 6px;
}

.form-container textarea {
    width: 90%;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 6px;
    height: 150px;
}

.send-email button {
    font-size: 14px;
    padding: 8px 20px;
    background-color: #eb374e;
    border: none;
    border-radius: 8px;
    color: white;
    width: 100%;
}

.send-email button:hover {
    background-color: #d12038;
    color: white;
}

@media screen and (max-width:768px) {
    nav {
        padding-inline: 16px;
        align-items: center;
    }

    nav .left-nav {
        gap: 20px;
        align-items: center;
    }

    nav .left-nav a img {
        height: 24px;
    }

    nav .right-nav a {
        display: none;
    }   

    nav .right-nav .icon {
        display: block;
        background-color: black;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    nav .right-nav .icon:hover {
        background-color: black;
    }

    .material-symbols-outlined:hover {
        color: #d12038;
    }    
}