@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    font-family: "Poppins";
}

nav {
    background-color: black;
    display: flex;
    padding-inline: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .left-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .left-nav img {
    height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav a:hover {
    color: #eb374e;
}

nav .right-nav a {
    background-color: #eb374e;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

nav .right-nav a:hover {
    background-color: #d12038;
    color: white;
}

nav .right-nav .icon {
    display: none;
}

.blog {
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.blog .blog-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 70%;
}

.blog .blog-list .blog-image img {
    width: 300px;
}

.blog .blog-list .blog-list-item {
    display: flex;
}

.blog .blog-list .blog-content {
    margin-left: 24px;
}

.blog .blog-form {
    width: 25%;
}

.blog .blog-form .form-container {
    background-color: #dbdbdb;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.blog .blog-form .form-container form h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.blog .blog-form .form-container form input, textarea, .input-blog-image-group {
    width: 95%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    background: white;
    border: 1px solid gray;
    border-radius: 6px;
}

.blog .blog-form .form-container form textarea {
    height: 150px;
}

.blog .blog-form .form-container form .input-blog-image-group label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .blog-form .form-container form button {
    margin-top: 16px;
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #eb374e;
    border-radius: 8px;
    color: white;
    width: 100%;
    border: none;
}

.blog .blog-form .form-container form button:hover {
    background-color: #d12038;
}
@media screen and (max-width:768px) {
    nav {
        padding-inline: 16px;
        align-items: center;
    }

    nav .left-nav {
        gap: 20px;
        align-items: center;
    }

    nav .left-nav a img {
        height: 24px;
    }

    nav .right-nav a {
        display: none;
    }   

    nav .right-nav .icon {
        display: block;
        background-color: black;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    nav .right-nav .icon:hover {
        background-color: black;
    }

    .material-symbols-outlined:hover {
        color: #d12038;
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .blog .blog-list {
        display: flex;
        flex-direction: column;
    }

    .blog .blog-form {
        display: flex;
        order: -1;
        width: 70%;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .blog .blog-list .blog-list-item {
        display: flex;
        flex-direction: column;
    }

    .blog .blog-list .blog-image {
        display: flex;
        justify-content: center;
    }

    .blog .blog-list .blog-image img {
        height: auto;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }

    .blog .blog-list .blog-content {
        margin: 0;
        padding-inline: 8px;
    }

    .blog .blog-content p {
        display: flex;
        text-align: justify;
    }
}